.container {
  border-top: 1px solid #515151;
}

.arrow-container {
  padding-top: 24px;
  text-align: left;
  white-space: nowrap;
  padding-left: 25px;
}
.arrow-container-collapsed{
  padding-top: 24px;
}

.avatar-container{
  padding: 34px 0 30px;
  text-align: left;
  white-space: nowrap;
  padding-left: 20px;
}
.avatar-container-collapsed{
  padding: 34px 0 30px;

}

.logout-container{
  padding-bottom: 52px;
  text-align: left;
  white-space: nowrap;
  padding-left: 25px;
}

.logout-container-collapsed{
  padding-bottom: 52px;
}
