@import '~antd/es/style/themes/default.less';

@basicLayout-prefix-cls: ~'@{ant-prefix}-pro-basicLayout-content';

.@{basicLayout-prefix-cls} {
  display: flex;
  margin: 0;
  padding-top: @layout-header-height;
}

.basicLayout {
  .ant-layout {
    transition: all 0.2s;
  }
}
.ant-layout-sider-trigger {
  background: #2c2c2c !important;
  height: auto !important;
  line-height: 1 !important;
}

.ant-menu-item {
  margin: 0px !important;
}

.ant-menu-item-selected {
  background-color: #333a51 !important;

  &:after {
    transform: scaleY(1) !important;
    opacity: 1 !important;
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    border-right: 2px solid #4d7abf !important;
  }
}
