.sysmenu {
  background-color: #464f6b;
  border: 1px solid #2a69cb;

  :global {
    .ant-dropdown-menu-item {
      color: #fff;
      text-align: center;
      &:hover {
        background-color: #333a51 !important;
      }
    }

    .ant-dropdown-menu-item-selected {
      background-color: #333a51 !important;
    }
  }
}
